@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --hover-text-color: #d4a373;
  --main-color: #0C0B09;
  --mainbg-color: #29261f;
}

body{
  font-family: 'Poppins';
  background-color: black;
  font-weight: 500;
  color: white;
}

.title {
  font-family: 'Playfair Display';
  font-weight: 700;
  color: var(--hover-text-color);
}

.subtitle{
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: x-large;
}

@layer components{

  li{
    @apply cursor-pointer;
  }

  li:hover{
    color: var(--hover-text-color) !important;
  }

  nav{
    @apply fixed w-screen flex justify-evenly items-center gap-10 h-16 bg-black z-20;
  }

  h1{
    @apply text-5xl font-playfair;
  }

  h2{
    @apply text-4xl font-playfair;
  }

  h3{
    @apply text-xl ;
  }

  p{
    @apply text-gray-500 text-left w-full;
  }

  .p1{
    @apply text-gray-400;
  }

  .buttons{
    @apply px-4 py-2 border-2 border-yellow-500 text-white font-semibold rounded-full cursor-pointer transition duration-300 ease-in-out hover:bg-yellow-500 hover:bg-opacity-40;
  }

  .sideimage{
    @apply w-80 border-8 border-neutral-700 transition duration-500 hover:scale-105 lg:w-70 h-70;
  }
}